<div class="md-sidebar md-sidebar--dark md-sidebar--global">
  <div class="md-sidebar__body">
    <div class="md-sidebar-nav">
      <div class="md-sidebar-nav__header">{{ 'featureList.example' | translate }}</div>
      <div
        class="md-list md-list--vertical md-sidebar-nav__group md-sidebar-nav__group--primary"
        role="list"
      >
        <a
          class="md-list-item"
          id="md-sidebar__nav-item-2-1"
          role="listitem"
          data-md-event-key="md-sidebar__nav-item-2-1"
          routerLink="./createSpace"
        >
          <div class="md-list-item__center">{{ 'featureList.room' | translate }}</div>
        </a>
        <a
          class="md-list-item"
          id="md-sidebar__nav-item-2-1"
          role="listitem"
          data-md-event-key="md-sidebar__nav-item-2-1"
          routerLink="./singlePartyCall"
        >
          <div class="md-list-item__center">{{ 'featureList.calling' | translate }}</div>
        </a>
      </div>
    </div>
  </div>
</div>
